#about {

  @import "./common";

  .text {
    width: 70%;
    position: $position;
    left: 15%;
    margin-top: 1%;
    z-index: -1;
  }

  p {
    margin-top: 40px;
    line-height: 2.5;
    text-align: justify;
    margin-bottom: 7%;
    font-size: 2rem;
  }
}
