#skills {
  text-align: center;

  @import "./common";

  h1 {
    margin-top: 1%;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
    margin-bottom: 5%;
    width: 90%;
    margin: auto;
  }

  .content-item {
    font-size: 3rem;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
  }

  img {
    height: 3rem;
  }

  .content-item:hover {
    transform: scale(1.4);
  }

  @media (max-width: 700px) {
    .container {
      gap: 20px;
      width: 100%;
    }

    .content-item {
      font-size: 1.5rem;
      width: 100%;
    }

    img {
      height: 3rem;
    }
  }
}
