#skills {
  text-align: center;

  h1 {
    text-align: center;
    font-size: 3rem;
  }

  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .content-item {
    font-size: 3rem;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
  }

  img {
    height: 3rem;
  }

  .content-item:hover {
    transform: scale(1.4);
  }

  .skillsButton {
  }
}
